.container__home{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100vw;
    height: 100vh;
    background: url(./assets/liquid-cheese.svg) ;
    background-color: rgba(255, 208, 0, 0.7);
    background-repeat: no-repeat;
    background-size: 350%;
    background-position:  top 150px center;

}

@media screen and (min-width: 767px) {
    .container__home{
        background-size: cover;
    }
    .formContent{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    label{
        margin-right: 20px;
        font-weight: bold;
        font-size: 20px;
    }

  
  }  

  label{
    margin-right: 20px;
    font-weight: bold;
    font-size: 20px;
    color: #46948C;
    margin-left: 15px;
}
input{
    margin-right: 15px;
}
  

.text_explain{
    margin-top: -20px;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px;
    font-weight: bold;
    opacity:1.5;
    background-color: #664e3f;
    width:auto;
    height: auto;

}
.text_explain_h2{
    display: flex;
    text-align: center;
    color: #ebdbba;
    justify-content: center;
    align-items: center;
}

.formContent{
    margin-top: 50px;
    grid-row: 2;
}
.inputBox{
    grid-row: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.button__enterplay{
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 20px;
}




